@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tailwindcss';

:root {
  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.tiktok-embed {
  max-width: 100%;
  margin: 0 auto;
}

img, iframe {
  transition: opacity 0.5s ease;
}

button {
  cursor: pointer;
}
